---
import '../styles/global.css';
import Sidebar from '../components/navigation/Sidebar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="antialiased">
		<Sidebar />
		<main class="pl-0 md:pl-24 h-screen snap-container box-border">
			<slot />
		</main>
	</body>
</html>
